PORT="80"
HTTP_TIMEOUT=15
LOGGER_LEVEL="DEBUG"
QR_GRPC_ADDR="localhost:50051"
REDIS_ADDR="localhost:6379"
JWT_SECRET="secret"
DB_CONN="user=postgres password=postgres port=5432 host=localhost dbname=url_shorter sslmode=disable"